.iruda-search.side,
//.iruda-search.sidebar,
.iruda-search-filter-popup {
    position: relative;

    .pop-main-header {
        margin-bottom: 0;
        height: 26px;
        line-height: 26px;
        display: flex !important;
        svg {
            width: 12px !important;
            height: 12px !important;
            margin-top: -2px;
        }
        .pop-main-header-content {
            margin-left: 5px;
        }
    }
    .ui.dividing.header {
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 5px;
    }
    .biz-filter-groups {
        min-width: 600px;
        padding: 0px 15px 0px 15px;
        .filter-list {
            padding-left: 3px;
            margin-left: -3px;
            margin-top: 3px;
            .filter-link {
                margin-top: 1px;
                margin-bottom: 1px;
            }
        }
        .child-prop {
            margin-left: 10px;
        }
    }

    &.classification {
        .biz-filter-groups {
            min-width: 800px;
        }
    }

    .img {
        margin-right: 7px;
        width: 13px;
        height: 16px;
        margin-left: 3px;
        margin-top: 12px;
        margin-bottom: -2px;
        background-image: url("../images/sidebar/light/filter02_light.svg");

        &.theme.light {
            &.filter {
                background-image: url("../images/sidebar/00_filter_by.png");
            }
            &.searchAll-icon {
                background-image: url("../images/sidebar/light/filter01_light.svg");
            }
            &.filters-icon {
                background-image: url("../images/sidebar/light/filter02_light.svg");
            }
        }
        &.theme.dark {
            &.filter {
                background-image: url("../images/sidebar/00_filter_by.png");
            }
            &.searchAll-icon {
                background-image: url("../images/sidebar/dark/filter01_dark.svg");
            }
            &.filters-icon {
                background-image: url("../images/sidebar/dark/filter02_dark.svg");
            }
        }
    }

    .img {
        background-repeat: round;
        display: inline-block;
        //margin-right: 5px;
        //width: 12px;
        // height: 12px;
        &.selectionfilter {
            /* background-image: url('../images/sidebar/selectionfilter.png'); */
            margin-right: 0px;
        }

        &.filter {
            background-image: url("../images/sidebar/light/filter01_light.svg");
        }

        /* 
        &.Data.Structure,
        &.DataStructure {
            background-image: url('../images/sidebar/01_data_structure.png');
        }

        &.Structure.Name,
        &.StructureName {
            background-image: url('../images/sidebar/02_structure_name.png');
        }

        &.Data.Type,
         &.DataType {
            background-image: url('../images/sidebar/03_data_type.png');
        }

        &.property.condition {
            background-image: url('../images/sidebar/04_property_condition.png');
        }

        &.subject {
            background-image: url('../images/sidebar/06_주제분류.png');
        }
    
        &.business {
            background-image: url('../images/sidebar/05_업무분류.png');
        }
    
        &.system {
            background-image: url('../images/sidebar/04_시스템분류.png');
        }
        
        &.Domain {
            background-image: url('../images/sidebar/p1_Domain.png');
        }

        &.TERM {
            background-image: url('../images/sidebar/p2_Term.png');
        }

        &.TABLE {
            background-image: url('../images/sidebar/P3_Table.png');
        }

        &.COLUMN {
            background-image: url('../images/sidebar/p4_Column.png');
        }

        &.protectionRule {
            background-image: url('../images/sidebar/p6_protection.png');
        }

        &.PII {
            background-image: url('../images/sidebar/p5_pii.png');
        }
        &.Master {
            background-image: url('../images/sidebar/p7_master.png');
        }
        &.SUPERQUERY {
            width: 18px;
            height: 18px;
            margin-left: 2px;
            background-image: url('../images/sidebar/p8_superquery.png');
        }
*/
    }

    .nav-item {
        padding: {
            left: 7px;
            right: 7px;
        }
    }

    .child-prop {
        //margin-left: 15px;
    }

    .property-item {
        font-size: 0.77rem;
        font-weight: 500;
        color: #333;

        padding: {
            left: 8px;
            right: 8px;
        }

        & .feather {
            color: #999;

            &:hover {
                color: #333;
            }
        }

        &.active {
            color: #007bff;
        }
    }

    .filter-list {
        padding-left: 0.6rem;
        margin-top: 0.8em;
        margin-bottom: 0.5em;
    }

    .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }

    .filter-link {
        font-size: 1rem;
        font-weight: 400;
        color: #333;
        display: flex;
        padding: 2px;
        .filter-icon,
        .filter-count {
            flex: 0 0 auto;
            margin-right: 4px;
        }

        .filter-title {
            flex-grow: 1;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .filter-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .filter-link.active {
        color: #007bff;
    }

    .filter-link:hover .feather,
    .filter-link.active .feather {
        color: inherit;
    }
}

#main-filter-popup {
    width: 700px;
    .iruda-search-filter-popup {
        margin-bottom: 0.5rem;
        height: 26px;
        line-height: 26px;
        .pop-main-header {
            margin-bottom: 0;
            color: rgb(33, 133, 208);
            height: 26px;
            line-height: 26px;
            display: flex !important;
            // > img {
            //     height: 12px;
            //     line-height: 12px;
            //     margin-top: 7px;
            // }
        }

        .pop-main-header-content {
            height: 26px;
            line-height: 26px;
            vertical-align: sub;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            /* identical to box height, or 143% */

            align-items: center;

            color: var(--ds-color-black);
        }

        .pop-main-btn-group {
            height: 24px;
            display: flex;
            justify-content: right;
            box-sizing: border-box;
            width: auto;

            /* Auto layout */

            padding: 0px 1px;

            /* White */

            background: #ffffff;
            /* Grey 2 */

            .pop-main-btn-group-area {
                display: flex;
                border-radius: 4px;
                border: 1px solid var(--ds-color-lines);
                box-sizing: border-box;
                height: 24px;
            }
            .pop-btn {
                float: right;
                box-sizing: border-box;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3px 15px;
                gap: 10px;

                height: 24px;

                /* White */

                border-radius: 5px;
                /* Inside auto layout */

                flex: none;
                &.active {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 15px;
                    gap: 10px;

                    height: 24px;

                    /* Primary 2 */

                    background: var(--ds-primary-color-2) !important;
                    /* Primary */

                    border: 1px solid var(--ds-primary-color-1);
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.141144);
                    border-radius: 3px;

                    /* Inside auto layout */
                    color: var(--ds-primary-color-1);

                    flex: none;
                }
            }
        }
    }

    .iruda-search-filter-popup-content {
        max-height: 450px;
        overflow-x: hidden;

        .filter-link {
            padding-left: 1.7rem;
            margin-top: 0.8em;
            margin-bottom: 0.5em;
            .filter-icon,
            .filter-count {
                flex: 0 0 auto;
                margin-right: 4px;
            }

            .filter-title {
                flex-grow: 1;
            }

            & .feather {
                margin-right: 4px;
                color: #999;
                width: 16px;
                height: 16px;
                vertical-align: text-bottom;
            }

            &.active {
                color: #007bff;
            }

            &:hover .feather,
            &.active .feather {
                color: inherit;
            }
        }
    }
}

.ui.popup {
    max-width: 600px;
    min-width: 600px;
}

polyline {
    color: rgb(230, 115, 4);
}

.iruda-search-filter-popup-content {
    padding: 10px 20px;
    .biz-filter-groups {
        .header {
            // width: 65px;
            height: 27px;

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            color: var(--ds-color-black);
        }
        .filter-list {
            .filter-link {
                padding-left: 0px !important;

                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                /* identical to box height */

                color: var(--ds-color-black);
            }
        }
    }
}
.sidebar-wrapper {
    .iruda-search.side {
        > .card {
            margin-top: 18px !important;
            margin-right: 18px !important;
            .content.one {
                padding: 0px !important;
                margin: 0px !important;
                height: 30px !important;
                .header {
                    margin: 0px !important;
                    display: flex;
                    line-height: 30px;
                    height: 30px;

                    .sidebar-heading {
                        display: flex;
                        font-family: "Pretendard" !important;
                        height: 25px;
                        width: auto;
                        line-height: 25px;
                        font-weight: 700;
                        font-size: 14px;
                        color: var(--ds-color-black) !important;
                        overflow-x: hidden;
                        > svg {
                            margin-top: 5px;
                            margin-right: 2px;
                        }
                        > p {
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            line-height: 22px;
                        }
                    }
                    .switch-wrapper {
                        position: initial;
                        margin-left: auto;
                        border: 1px solid var(--ds-color-lines);
                        line-height: 26px;
                        display: flex;
                        border-radius: 4px;
                        .split-line {
                            border: 0.5px solid var(--ds-color-lines);
                            margin-right: -0.7px;
                            margin-left: -0.7px;
                        }
                        > .ui.compact.animated.button {
                            &:hover {
                                background-color: var(
                                    --ds-primary-color-2
                                ) !important;
                                color: var(--ds-primary-color-1);
                                border: 1px solid var(--ds-primary-color-1);
                                .content {
                                    color: var(--ds-primary-color-1);
                                }
                                .hidden.content {
                                    color: var(--ds-primary-color-1);
                                }
                            }
                            &.active {
                                background-color: var(
                                    --ds-primary-color-2
                                ) !important;
                                color: var(--ds-primary-color-1);
                                border: 1px solid var(--ds-primary-color-1);
                                .content {
                                    color: var(--ds-primary-color-1);
                                }
                                .hidden.content {
                                    color: var(--ds-primary-color-1);
                                }
                            }
                        }

                        button {
                            border-radius: 3px;
                            box-sizing: border-box;
                            padding: 0px;
                            background: #ffffff !important;
                            margin: 0px;
                            width: 38px;
                            height: 100%;
                            color: var(--ds-color-icons);
                            .content {
                                color: black;
                                margin: 0px;
                            }
                            .hidden {
                                margin-top: -6px;
                            }
                        }
                    }
                }
            }
            .content.two {
                padding: 0px;
                background-color: white !important;
                margin-top: 10px;
                .sidebar-heading {
                    font-family: "Pretendard" !important;

                    margin: 0px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 22px;
                    text-transform: capitalize;
                    color: var(--ds-color-black) !important;
                    margin-bottom: 2px;
                    > div {
                        > .label {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            color: var(--ds-color-black) !important;
                            background: var(--ds-color-lines) !important;
                            border-radius: 40px;
                        }
                    }
                }
            }
        }
    }
}
