/* 초기화 */
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 공통 */
/* 체크박스 및 라디오 색 */
:root {
    --checkbox-radio-bg : #E98417;
    --checkbox-radio-border : #E98417;
    --checkbox-radio-checked-label: #AE6300;
}

/* 체크박스 */ 
label.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;

        /* 체크 */
        &:checked {
            ~ .checkbox-icon {
                background-color: var(--text-color);
                border-color: var(---text-color);

                svg {
                    display: block;
                }
            }

            ~ .checkbox-label{
                color: var(--text-color);
            }
        }

        /* 접근성 */
        &:focus-visible {
            ~ .checkbox-icon {
                outline: 1px solid black;
            }
        }

        /* 비활성화 */
        &:disabled {
            ~ .checkbox-icon{
                background-color: #F2F2F2;
                cursor: default;
            }

            ~ .checkbox-label{
                color: #A3A3A3;
            }
        }
    }
 
    .checkbox-icon{
        width: 16px;
        height: 16px;
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            display: none;
        }
    }

    .checkbox-label{
        margin-left: 6px;
        font-size: 14px;
        color: var(--text-color);
    }

    /* 주황색 */
    &.primary {
        input[type="checkbox"] {
            /* 체크 */
            &:checked {
                ~ .checkbox-icon {
                    background-color: var(--checkbox-radio-bg);
                    border-color: var(--checkbox-radio-border);
                }
            }
        }

        /* 반전 */
        &.inverse {
            input[type="checkbox"] {
                /* 체크 */
                &:checked {
                    ~ .checkbox-icon {
                        background-color: #fff;
                        border-color: #D3D3D3;

                        svg path {
                            stroke: var(--checkbox-radio-bg);
                        }
                    }
                }
            }
        }
    }
}

/* 라디오 */
label.radio{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	width: fit-content;
    position: relative;

    input[type="radio"] {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 0;
        transition: none;

        /* 체크 */
        &:checked {
            background-color: var(--text-color);
            box-shadow: inset 0 0 0 2.5px white;
            border-width: 1.5px;
            border-color: var(--text-color);
        }

        /* 접근성 */
        &:focus-visible{
            outline: 1px solid black;
        }
    }

    .radio-label {
        display: inline-block;
        padding-left: 8px;
        color: var(--text-color);
        line-height: 1;
        font-size: 14px;
        font-weight: 300;
    }

    /* 주황색 */
    &.primary {
        input[type="radio"] {
            /* 체크 */
            &:checked {
                background-color: var(--checkbox-radio-bg);
                border-color: var(--checkbox-radio-border);
            }
        }
    }
}

/* 선택된 핕터 항목 */
.selected-label {
    max-width: 150px; 
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid transparent; 
    
    .text {
        text-overflow: ellipsis;
        max-width: 50px;
        color: var(--text-color);
        white-space: nowrap;
        overflow: hidden;
    }
    
    /* 추후 수정 */
    &.primary {
        background-color: #FFEFE1;
        border-color: #F6DCC3;

        .text {
            color: #7C3300;
        }

        .close {
            svg path {
                fill: #CB9457;
            }
        }
    }
}

/* 테이블 - 커뮤니티 선작업 - 추후 수정 필요 */
.formTable {
	width: 100%;
	border-spacing: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

    * {
        font-family: inherit;
    }

    tr {
        border-bottom: 1px solid #ddd;

        th {
            background-color: #f1f2f3;
            text-align: left;
            font-weight: normal;
            vertical-align: middle;
            padding: 11px 20px;
        }

        td {
            height: 40px;
            padding: 6px 12px;
            font-weight: 300;
        }
        
        .formInput {
            width: 100%;
            min-height: 28px;
            padding: 4px 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;

            &:focus {
                border-color: #222;
            }
        }

        .formTextarea {
            width: 100%;
            padding: 14px 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
            resize: vertical;
            min-height: 350px;

            &:focus {
                border-color: #222;
            }
        }
    }
}

/* 페이지네이션  - 커뮤니티 선작업 추후 수정 필요 */
.page {
    display: flex;
    justify-content: center;
	align-items: center;
	gap: 5px;
	padding-top: 14px;
	padding-bottom: 10px;

	a{
		width: 26px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 4px;
		font-size: 13px;
        color: var(--text-color);

		/* 처음, 이전, 다음, 마지막 버튼 */
		&.first,
		&.prev,
		&.next,
		&.last {
			border: 1px solid #E0E4EC;
			border-radius: 3px;
			&:hover{
				background-color: #F4F4F4;
			}
		}
		/* 일반 페이지 버튼 호버 */
        &:not(.first, .prev, .next, .last):hover {
            background-color: #F4F4F4;
        }
		/* 페이지 버튼 아이콘 */
		&.first,
		&.last {
			background: url(../../img/pagination/first_page_arrow.svg) center/9px no-repeat;
		}
		&.last {
			transform: rotate(180deg);
		}
		&.prev,
		&.next {
			background: url(../../img/pagination/prev_page_arrow.svg) center/6px no-repeat;
		}
		&.next {
			transform: rotate(180deg);
		}
		/* 활성화된 페이지 */
		&.active{
			color: white;
			background-color: #1F2020;
			border-color: #000000;

            &:hover {
                background-color: #717171;
                border-color: #5B5B5B;
                color: white;
            }
		}
	}

    select {
        border: 1px solid #DDE2EB;
        border-radius: 4px;
        min-width: 87px;
        height: 25px;
        padding-left: 8px;
        padding-right: 5px;
        font-size: 13px;
    } 
}

/* 통합검색결과 */
.search-section {
    display: flex;
    position: relative;
    background: linear-gradient(180deg, #fff 0 31px, #e3e3e3 30px 32px, #f4f4f4 32px 100%);
    
    /* 필터 */
    .filter-container {
        background-color: white;
        width: 245px;
        height: calc(100vh - 75px);
        position: sticky;
        top: 10px;
        padding: 0 5px 5px 0;
        margin-left: 16px;
        box-sizing: content-box;
        overflow: hidden;
        border-bottom-right-radius: 17px;
        border-bottom-left-radius: 17px;

        .filter-area{
            border: 1px solid #D8D8D8;
            border-radius: 12px;
            box-shadow: 4px 4px 4px 0px #0000000D;
             height: 100%;
            display: flex;
            flex-direction: column; 
    
            /* 제목 */
            .filter-title {
                background-color: #F4F6FC;
                color: var(--text-color);
                font-size: 16px;
                font-weight: 600;
                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 6px;
                height: 28px;
                line-height: 28px;
                padding: 0px 7px 0px 36px;
                margin: 10px 16px 7px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 7px; 
                    top: 50%;
                    transform: translateY(-50%);
                    background: url(../../img/search/filter/filter_title_icon.svg) center/cover no-repeat;
                    width: 23px;
                    height: 22px;
                }
            }

            /* 내 필터 */
            .filter-header {

                /* 저장된 필터 */
                .saved-filters {
                    border: 1px solid #dedede;
                    border-radius: 8px;
                    background-color: #F4F4F4;
                    margin: 0 16px 10px;
                    transition: background 0.1s;
                    transform-origin: top center;
                    
                    &.active {
                        background-color: white;

                        .con-title .icon {
                            transform: rotate(180deg);
                        }
                    }
    
                    .con-title {
                        font-weight: 400;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: 9px;
                        padding-bottom: 5px;
                        margin: 0 12px;

                        .icon {
                            transition: 0.1s;
                        }
                    }
    
                    .hidden-list {
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                        display: none;
                        overflow-y: auto;
                        margin: 0;
                        max-height: 173px;
    
                        .item {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            padding: 11px 12px 0;

                            &:not(:first-child) {
                                padding-top: 14px;
                            }

                            &:last-child {
                                padding-bottom: 24px;
                            }
    
                            p {
                                flex: 1;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                font-size: 12px;
                            }
    
                            button {
                                height: 24px;

                                /* 주황색 */
                                &.primary {
                                    &:hover svg rect{
                                        stroke: #F8DEBF;
                                        fill: #FFEEDA;
                                    }
                                }
                            }
                        }
                    }
                }

                /* 선택한 필터 */
                .selected-filters {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    /* 버튼 */
                    .btn-inn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-top: 10px;
                        border-top: 1px solid #E8E8E8;
                        margin: 0 16px;

                        .save-filter-btn {
                            position: relative;
                            padding: 0 14px 0 29px;
                            height: 26px;
                            line-height: 26px;
                            border: 1px solid #E8E8E8;
                            border-radius: 6px;
                            font-size: 13px;
                            transition: border 0.1s;

                            &::before {
                                content: '';
                                position: absolute;
                                left: 8px;
                                top: 50%;
                                transform: translateY(-50%);
                                background: url(../../img/search/filter/person_filter_icon.svg) center/cover no-repeat;
                                width: 19px; 
                                height: 12px;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                right: 6px;
                                background: url(../../img/search/filter/arrow_icon.svg) center/cover no-repeat;
                                width: 5px;
                                height: 7px;
                                top: 50%;
                                transform: translateY(-50%);

                            }

                            &:hover {
                                border-color: var(--text-color);
                            } 
                        }

                        .all-clear-btn {
                            color: #808080;
                            font-size: 13px;
                            font-weight: 500;
                            transition: color 0.1s;

                            &:hover {
                                color: var(--text-color);
                            }
                        }
                    }

                    /* 선택한 필터 */
                    .list-inn {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 6px;
                        margin: 0 2px 0 16px;
                        padding-right: 7px;
                        max-height: 93px;
                        overflow-y: auto;
                    }
                }
            }

            /* 필터 목록 */
            .filter-body {
                overflow-y: auto;
                margin-top: 10px;
                margin-right: 2px;
                margin-bottom: 18px;
                flex: 1;
                &::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background-color: #e0e0e0;
                }

                /* 필터 목록 타이틀 */
                .filter-con-title {
                    box-shadow: 0px 2px 2px 0px #0000001A;
                    height: 32px;
                    line-height: 32px;
                    border: 1px solid #E1E1E1;
                    border-radius: 6px;
                    padding: 0 12px;
                    position: relative;
                    cursor: pointer;
                    font-weight: 400;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url(../../img/search/filter/filter_list_arrow_icon.svg);
                        width: 10px;
                        height: 6px;
                        transition: 0.1s;
                    }

                    &.bg {
                        background-color: #F4F4F4;
                        box-shadow: none;
                        border-color: #DEDEDE;

                        &:after {
                            transform: translateY(-1px) rotate(180deg);
                        }
                    }
                }

                .filter-item {
                    margin-bottom: 10px;
                    padding: 0 16px;
                }

                .filter-content {
                    display: flex;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 4px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .toggle-button {
                        align-self: flex-start;
                        margin-top: 4px;
                        background-image: url(../../img/search/filter/filter_toggle_minus_btn.svg);
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;

                        &.active {
                            background-image: url(../../img/search/filter/filter_toggle_plus_btn.svg);
                        }
                    }

                    /* 체크박스, 타이틀, 카운트 */
                    .checkbox-group {
                        display: flex;
                        align-items: center;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        border-radius: 4px;
                        flex: 1;

                        /* 주황색 */
                        &.primary {
                            &.active {
                                background-color: #FFF2EA;
                            }
    
                            &:hover {
                                background-color: #FFF2EA;
                            }
                        }

                        .checkbox {
                            flex: 1;

                            /* 주황색 */
                            &.primary {
                                input[type="checkbox"]:checked ~ .checkbox-label {
                                    color: var(--checkbox-radio-checked-label);
                                    font-weight: 500;
                                }
                            }
                        }

                        .checkbox-count {
                            font-size: 13px;
                            font-weight: 300;
                        }
                    }

                    .filter-sub-title {
                        display: flex;
                        gap: 9px;

                        .checkbox-group {
                            padding-left: 2px;
                            padding-right: 8px;

                        }
                    }

                    .filter-sub-content {
                        flex: 1;
                        padding-bottom: 6px;
                        position: relative;
                        border-bottom: 1px solid #EEEEEE;

                        .filter-nested {
                            position: relative;
                            padding-top: 2px;
                            margin-left: 7px;

                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 3px;
                                height: calc(100% - 15px);
                                border-left: 1px solid #D3D3D3;
                            }

                            .checkbox-group {
                                position: relative;
                                padding-left: 11px;
                                padding-right: 8px;
                                margin-bottom: 2px;
                                margin-left: 14px;

                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: -14px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    border-top: 1px solid #D3D3D3;
                                    width: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* 검색결과 */
    .result-container {
        flex: 1;

        /* 현재 경로 */
        .location {
            padding-left: 24px;
            border-bottom: 1px solid #E3E3E3;
            display: flex;
            align-items: center;
            gap: 25px;
            padding-top: 10px;
            padding-bottom: 7px;
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 1;

            & span {
                color: #727272;
                line-height: 1;
                font-size: 14px; 
                font-weight: 300;
                position: relative;

                &:last-child {
                    color: #222222;
                    font-weight: 400;
                }

                &:not(:last-child) {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        right: -15px;
                        top: 51%;
                        transform: translate(50%,-50%);
                        background: url(../../img/location/location_black_arrow_icon.svg) center/cover no-repeat;
                        width: 5px;
                        height: 8px;
                    }
                }

                &.home {
                    background: url(../../img/location/location_home_icon.svg) center/cover no-repeat;
                    width: 13px;
                    height: 14px;

                    &::after {
                        content: '';
                        position: absolute;
                        right: -15px;
                        top: 51%;
                        transform: translate(50%,-50%);
                        background: url(../../img/location/location_gray_arrow_icon.svg) center/cover no-repeat;
                        width: 5px;
                        height: 8px;
                    }
                }
            }
        }

        /* 상단 검색 */
        .search-form-group {
            margin: 16px 0 18px;

            .layer-area {
                position: relative;
                width: fit-content;
                margin: 0 auto;
                display: flex;
                gap: 10px;
                align-items: center;
                
                /* 검색어 입력 */
                .search {
                    position: relative;
    
                    input {
                        min-width: clamp(336px, 30vw, 549px);
                        height: 42px;
                        line-height: 42px;
                        border-radius: 50px;
                        background-color: #F2F2F2;
                        border: 1px solid #C7C7C7;
                        outline: 0.5px solid transparent;
                        padding: 0 75px 0 20px;
                        font-family: 'Pretendard';
                        color: var(--text-color);
                        transition: 0.1s;
                        font-size: 16px;
                        font-weight: 400;
                        background-color: white;
                        
                        &::placeholder {
                            color: #727272;
                        }
            
                        &:focus, &:hover {
                            outline-color: var(--text-color);
                            border-color: var(--text-color);
                            background: transparent;
                        }
                    }
    
                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        
                        /* 검색어 삭제 버튼 */
                        &.reset-btn {
                            right: 48px;
                            height: 18px;
                            display: none;
                        }
                        
                        /* 검색 버튼 */
                        &.search-btn {
                            height: 26px;
                            right: 4px;
                            background-color: var(--text-color);
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid var(--text-color);
                            transition: backgroundColor 0.1s;

                            &:hover {
                                background-color: var(--text-color);
                            }

                            /* 주황색 */
                            &.primary {
                                background-color: #F57F00;
                                border-color:#C86800;

                                &:hover {
                                    background-color: #E07400;
                                }
                            }
                        }
                    }

                    /* 포커스 시 버튼 보임 */
                    &:focus-within .reset-btn {
                        display: block;
                    }

                }

                /* 결과 내 재검색 체크박스 */
                .research {
                    .checkbox-icon {
                        width: 21px;
                        height: 21px;

                        svg {
                            width: 12px;
                            height: 10px;
                        }
                    }
                }

                /* 레이어 팝업 */
                .layer-box{
                    display: none;
                    position: absolute;
                    top: calc(100% + 7px);
                    background-color: #fff;
                    border-radius: 15px;
                    border: 1px solid #E0E0E0;
                    box-shadow: 6.61px 6.61px 10px 0px #00000017;
                    width: clamp(336px, 30vw, 549px);
                    z-index: 1;
                    padding-bottom: 30px;
        
                    .title{
                        font-weight: 500;
                        font-size: 14px;
                        color: #0053BB;
                        margin-bottom: 15px;
                        padding: 16px 24px 0px;
                        border-top: 1px solid #DDDDDD;
                        display: flex;
                        justify-content: space-between;
                    }
        
                    &.show {
                        display: block;
                    }

                    /* 상세 검색 */
                    .detail-box {
                        .title {
                            font-weight: 500;
                            font-size: 16px;
                            color: var(--text-color);
                            border-top: none;
                        }

                        .search-option{
                            display: flex;
                            gap: 18px;
                            margin: 0 19px 15px 25px;
    
                            .text {
                                color: #434343;
                                font-size: 14px;
                                padding: 0 10px;
                                height: 26px;
                                line-height: 26px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 30px;
                                background-color: #F2F2F2;
                            }

                            .radio-btn{
                                display: flex;
                                align-items: center;
                                gap: 28px;
                            }

                            label.radio span.radio-label{
                                font-size: 16px;
                                transform: translateY(1px);
                            }
                        }
                    }
        
                    /* 최근 검색어 */
                    .recent-box {
                        position: relative;

                        .item {
                            display: flex;
                            align-items: center;
                
                            .link {
                                flex: 1;
                                position: relative;
                                padding: 6px 7px 6px 24px;
                                display: flex;
                                align-items: center;
                                width: 90%;
                    
                                .text {
                                    font-size: 14px;
                                    color: #666666;
                                    margin-left: 5px;
                                    flex: 1;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                              
                                .date {
                                    font-weight: 300;
                                    font-size: 14px;
                                }
                            }
                
                            &:hover {
                                background-color: #F2F2F2;
                      
                                .link {
                                    .text {
                                        color: #F06800;
                                    }
                                }
                            }
                
                            /* 삭제버튼 */
                            .delete-btn {
                                margin-right: 22px;
                                font-size: 0;
                            }
                        }
                      
                        /* 전체 삭제 버튼 */
                        .all-delete-btn {
                            position: absolute;
                            right: 24px;
                            top: 9px;
                            border: 1px solid #D4D4D4;
                            border-radius: 4px;
                            font-size: 13px;
                            padding: 0 8px;
                            height: 25px;
                            line-height: 25px;
                            color: var(--text-color);
                      
                            &:hover {
                                background-color: #F4F4F4;
                            }
                        }
                    }
                
                    /* 인기검색어 */
                    .hotdata-box {
                        margin-top: 6px;
                        
                        .title {
                            margin-bottom: 12px;
                        }
                
                        .list {
                            padding: 0 22px 0 24px;
                            display: flex;
                            gap: 13px;
                
                            .list-item {
                                display: flex;
                                flex-direction: column;
                                gap: 13px;
                                flex: 1;
                
                                .item {
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;
                     
                                    .num {
                                        background-color: #E8E8F6;
                                        border-radius: 50%;
                                        width: 22px;
                                        height: 22px;
                                        line-height: 22px;
                                        text-align: center;
                                        color: #0057A3;
                                        font-weight: 600;
                                        font-size: 13px;
                                    }
                    
                                    .text {
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: var(--text-color);
                                        max-width: 153px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
        
                                        &:hover {
                                            text-underline-offset: 2px;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* 검색 결과 */
        /* 레이아웃 */
        .result-group {
            margin-right: 36px;
            margin-left: 11px;
            padding-left: 12px;

            /* 요소 배치 */
            .flex-between {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .flex-start {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                
                .flex-end {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }

        /* 헤더 */
        .result-header {
            margin-bottom: 6px;

            .result-info { 
                display: flex;
                align-items: baseline;
                gap: 35px;

                /* 건 수 */
                .count {
                    display: flex;
                    align-items: baseline;
                    font-weight: 300;
                    color: #727272;
                    font-size: 14px;
                    gap: 3px;

                    h1 {
                        font-size: 20px;
                        font-weight: 400;

                        em { 
                            font-style: inherit;
                            font-size: inherit;
                            font-weight: 500;
                        }
                    }

                    .text {
                        transform: translateY(-1px);
                    }
                }
                 
                /* 검색 키워드 */
                .keyword {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 15px;
                    
                    .list {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 11px;

                        li {
                            position: relative;
                            color: #727272;
                            padding-right: 13px;

                            &:not(:last-child):after {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                background: url(../../img/search/result/search_keyword_arrow_icon.svg) center/cover no-repeat;
                                width: 5px;
                                height: 8px;
                            }

                            &:first-child {
                                color: #0067CC;
                            } 
                        }
                    }
                }
            }

            .result-sort {
                display: flex;
                gap: 10px;
                
                a {
                    font-size: 14px;
                    font-weight: 300;
                    color:  #666;
                    position: relative;
                    line-height: 15px;
                    
                    &:not(:last-child) {
                        padding-right: 13px;
                        border-right: 1px solid #000;
                    }
                    
                    &.active {
                        color: #000;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }

            /* 주황색 */
            &.primary {
                /* 검색결과 건 수 */
                .result-info h1 em {
                    color: #E47A00;
                }

                /* 선택된 정렬 체크 아이콘 */
                .result-sort .icon svg path{
                    fill: #FF8808;
                }
            }
        }

        /* 목록 영역 */
        .result-body {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding-bottom: 15px;

            .result-item {
                background-color: white;
                border: 1.3px solid #CDCDCD;
                border-radius: 10px;
                padding: 18px 30px 18px 26px;
                transition: 0.1s;

                &:hover {
                    box-shadow: 0px 4px 4px 0px #00000026;
                    border-color: #989898;
                }

                .item-header {
                    margin-bottom: 16px;
                    gap: 50px;

                    /* 왼쪽 타이틀 */
                    .flex-start {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        flex: 1;

                        .favorite-btn {
                            border: 1px solid #E8E8EE;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.1s;

                            &:hover {
                                border-color: var(--text-color);
                            }

                            &.active {
                                background-color: #FDF0DC;
                                border-color: #FFDDAA;

                                svg path{
                                    fill: #FFA012;
                                    stroke: #DC8D17;
                                }
                            }
                        }

                        .ctg-title-inn {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            flex: 1;
                            
                            .ctg {
                                border: 1px solid transparent;
                                padding: 0 6px;
                                font-weight: 600;
                                font-size: 12px;
                                height: 24px;
                                line-height: 24px;
                                border-radius: 5px;
                                position: relative;
                                display: flex;
                                align-items: center;
                                gap: 3px;

                                .icon {
                                    font-size: 0;
                                }

                                &.green {
                                    color: #1F8B24;
                                    border-color: #B5D8CE;
                                    background-color: #ECFDF3;
                                }

                                &.blue {
                                    color: #0F56B3;
                                    border-color: #B9CCE6;
                                    background-color: #EFF8FF;

                                    &:before {
                                        background-image: url(../../img/search/result/blue_column_icon.svg);
                                    }
                                }

                                &.purple {
                                    color: #6D46C8;
                                    border-color: #E9D7FE;
                                    background-color: #F9F5FF;

                                    &:before {
                                        background-image: url(../../img/search/result/purple_word_icon.svg);
                                    }
                                }

                                &.yellow {
                                    color: #BF710F;
                                    border-color: #F4CA65;
                                    background-color: #FCF1E3;

                                    &:before {
                                        background-image: url(../../img/search/result/yellow_term_icon.svg);
                                    }
                                }
                            }

                            .title { 
                                font-weight: 500;
                                font-size: 18px;
                                display: block;
                                flex: 1;
                                display: table;
                                table-layout: fixed;
                                width: fit-content;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                p {
                                    display: table-cell;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }

                    /* 우측 버튼 */
                    .flex-end {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        button {
                            border: 1px solid #E1E1E8;
                            border-radius: 30px;
                            min-width: 41px;
                            padding: 0 12px;
                            display: flex;
                            gap: 6px;
                            align-items: center;
                            height: 28px;
                            line-height: 28px;
                            transition: 0.1s;

                            &:hover {
                                border-color: var(--text-color);
                            }

                            &.like-btn.active svg path{
                                fill: #FFBB55;
                                stroke: #D3830B;
                            }
                        }
                    }
                }

                .item-body {
                    .formTable {
                        margin-bottom: 11px;
                        table-layout: fixed;

                        th {
                            padding: 7px 13px;
                            width: 9%;
                            background-color: #f1f2f3;
                        }
                        th, td{
                            font-size: 13px;
                            word-break: break-all;
                        }
                        td {
                            padding: 7px 10px;
                            height: 30px;
                        }
                    }
                }

                .item-footer {
                    .flex-start {
                        display: flex;
                        align-items: center;
                        gap: 30px; 

                        .info {
                            ul {
                                display: flex;
                                margin: 0;
                                gap: 21px;

                                li {
                                    display: flex;
                                    gap: 4px;
                                    align-items: center;

                                    .text {
                                        font-size: 14px;
                                        font-weight: 400;
                                    }

                                    .badge {
                                        font-weight: 800;
                                        font-size: 13px;
                                        width: 18px;
                                        height: 18px;
                                        line-height: 18px;
                                        border-radius: 50%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        
                                        &.yes {
                                            background-color: #E5F1FF;
                                            color: #0F67B4;
                                        }

                                        &.no {
                                            background-color: #FAECEC;
                                            color: #E46E7F;
                                        }
                                    }
                                }
                            }
                            }

                        .cnt {
                            ul {
                                display: flex;
                                margin: 0;
                                font-size: 14px;
                                gap: 30px;
                                
                                .comment {
                                    position: relative;
                                    padding-left: 21px;
                                    
                                    &:before {
                                        content: '';                                                
                                        position: absolute;
                                        left: 0;
                                        width: 15px;
                                        height: 15px;
                                        background-image: url(../../img/search/result/comment_icon.svg);
                                    }
                                }

                                .view {
                                    position: relative;
                                    padding-left: 24px;
                                    
                                    &:before {
                                        content: '';                                                
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 18px;
                                        height: 10px;
                                        background: url(../../img/search/result/view_icon.svg) center/cover no-repeat;
                                    }
                                }
                            }
                        }
                    }

                    .flex-end {
                        /* 추후 공통 버튼으로 수정 */                        
                        .detail-btn {
                            display: inline-flex; 
                            height: 28px; 
                            line-height: 28px; 
                            border: 1px solid #C86800; 
                            background-color:#F57F00; 
                            color: #FFF; 
                            font-weight: 500; 
                            font-size: 14px; 
                            padding: 0 10px; 
                            border-radius: 4px; 
                            align-items: center;
                            transition: 0.1s;

                            &:hover {
                                border-color: #B05B00;
                                background-color: #E07400;
                            }
                        }
                    }
                }
            }
        }  
        /* 페이지네이션 - 검색결과 특성화 스타일 */
        .page {
            position: sticky;
            bottom: 0;
            background: #f4f4f4;
        }
    }
} 